# MySql

## 16feb 2023

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Answer.
Database
A database is a structured collection of data that is stored and managed in a way that allows for efficient retrieval and manipulation of information.
Databases are widely used in applications that need to store and manage large amounts of data, such as e-commerce websites, financial systems, 
and social networks.

SQL and NoSQL databases are two different types of database management systems that differ in how they store and retrieve data.

The main differences between SQL and NoSQL databases are:
    1.Data model: SQL databases use a relational data model, while NoSQL databases use a variety of data models, such as document-based, key-value,
    or graph-based.
    
    2. Schema: SQL databases require a predefined schema that specifies the structure and types of data in each table, while NoSQL databases are
    schema-less, which means that data can be stored without a predefined schema.
    
    3. Scalability: NoSQL databases are designed to scale horizontally, which means that new nodes can be added to the system to handle additional load. 
    SQL databases can also scale horizontally, but it's often more complex and requires additional effort.
    
    4. Transactions: SQL databases support ACID (Atomicity, Consistency, Isolation, Durability) transactions, which ensure that data is consistent and
    reliable. NoSQL databases, on the other hand, often sacrifice consistency in favor of scalability and performance.
    
    5. Query language: SQL databases use SQL as their query language, while NoSQL databases use a variety of query languages, 
    such as MongoDB Query Language, Cassandra Query Language, or Gremlin (a graph traversal language).

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Answer.
DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define the structure and schema of a database.
DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints.

The four most commonly used DDL statements are:
    
    1. CREATE
    2. DROP
    3. ALTER
    4. TRUNCATE
    
    
    1. CREATE: This statement is used to create a new database object, such as a table, view, or index. For example, the following statement creates 
    a new table called "Customers" with columns for "CustomerID", "Name", "Email", and "Phone":
       
        CREATE TABLE Customers (
          CustomerID INT PRIMARY KEY,
          Name VARCHAR(50),
          Email VARCHAR(100),
          Phone VARCHAR(20)
           );
  

    2. DROP: This statement is used to delete a database object, such as a table or view. For example, the following statement drops the "Customers" table:
        
        DROP TABLE Customers;

    3. ALTER: This statement is used to modify the structure of a database object, such as adding or removing a column from a table, or changing the data type of a column. 
    For example, the following statement adds a new column called "Address" to the "Customers" table:
        
        ALTER TABLE Customers ADD Address VARCHAR(200);
        
    4. TRUNCATE: This statement is used to delete all the data from a table, while keeping the table structure intact.
    For example, the following statement deletes all the data from the "Customers" table:
        
        TRUNCATE TABLE Customers;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Answer.
DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) that is used to manipulate data stored in a database. 
DML statements are used to insert, update, and delete data in tables.

The three most commonly used DML statements are:
    
    1. INSERT: This statement is used to insert new data into a table. For example, the following statement inserts a new record into the "Customers" table:
       
        INSERT INTO Customers (CustomerID, Name, Email, Phone)
        VALUES (1, 'John Doe', 'johndoe@example.com', '555-1234');
        
    2. UPDATE: This statement is used to update existing data in a table. For example, the following statement updates the email address for the customer with ID 1 in the "Customers" table:
        
        UPDATE Customers
        SET Email = 'johndoe@gmail.com'
        WHERE CustomerID = 1;

    3. DELETE: This statement is used to delete data from a table. For example, the following statement deletes the customer with ID 1 from the "Customers" table:
        
        DELETE FROM Customers
        WHERE CustomerID = 1;

### Q4. What is DQL? Explain SELECT with an example.

In [ ]:
Answer.
DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. 
DQL statements are used to query and fetch data from tables.

The most commonly used DQL statement is:
    
    SELECT: This statement is used to retrieve data from one or more tables in a database. For example, the following statement retrieves all the data from the "Customers" table:
       
       SELECT * FROM Customers;

### Q5. Explain Primary Key and Foreign Key.

In [ ]:
Answer.
Primary Key
A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It must be unique and not null for every row in the table.
Primary keys are used to enforce entity integrity, which ensures that each row in the table is unique and identifiable. They are also used as the basis for establishing 
relationships with other tables through the use of foreign keys.

Foreign Key
A foreign key is a column or set of columns in a table that refers to the primary key of another table. It is used to establish a relationship between two tables,
where the foreign key in one table refers to the primary key in another table. This relationship ensures referential integrity, which means that the data in the child
table (table with the foreign key) must match the data in the parent table (table with the primary key). In other words, a foreign key is used to maintain consistency between related tables.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
Answer.
 here"s an example code snippet that demonstrates how to connect MySQL to Python using the MySQL Connector Python module
    
import mysql.connector

# Establish a connection to the database
cnx = mysql.connector.connect(
  user='username',
  password='password',
  host='localhost',
  database='database_name'
)

# Create a cursor object
cursor = cnx.cursor()

# Execute a SQL query
query = "SELECT * FROM table_name"
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Print the results
for row in results:
     print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

Execute
The execute() method is used to execute a SQL query. It takes a single parameter, which is the SQL query to be executed. This method returns a result set, 
which can be accessed using the fetchone(), fetchmany(), or fetchall() methods of the cursor object.

Cursor
The cursor() method is used to create a cursor object. This object is used to execute SQL queries and fetch results from the database.
The cursor can be used to execute multiple queries and fetch multiple results.

### Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Answer.
The order of execution of SQL clauses in an SQL query can be summarized in the following sequence:
    
    1. FROM clause: specifies the table(s) from which the data is to be retrieved.
    2. JOIN clause: joins two or more tables based on a specified condition.
    3. WHERE clause: filters the data based on a specified condition.
    4. GROUP BY clause: groups the data based on a specified column or expression.
    5. HAVING clause: filters the groups based on a specified condition.
    6. SELECT clause: selects the columns or expressions to be retrieved from the data.
    7. ORDER BY clause: sorts the data based on a specified column or expression.
    8. LIMIT clause: limits the number of rows returned by the query.