# Pandas Advance-1

### Q1. List any five functions of the pandas library with execution.

In [6]:
#Answer.
#Here are five functions of the Pandas library along with their execution examples:
#  1. read_csv(): This function is used to read data from a CSV file and create a DataFrame.

import pandas as pd

# Read a CSV file and create a DataFrame
data = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#  2. head(): This function is used to display the first few rows of a DataFrame.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': ['a', 'b', 'c', 'd', 'e']})

# Display the first 3 rows of the DataFrame
print(data.head(3))

   A  B
0  1  a
1  2  b
2  3  c

In [7]:
#  3. describe(): This function computes various summary statistics of the DataFrame, such as count, mean, min, max, etc.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': [10, 20, 30, 40, 50]})

# Compute summary statistics
print(data.describe())

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

In [11]:
#  4. groupby(): This function is used to group the data based on one or more columns, allowing for operations like aggregationand transformation.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar', 'foo'],
                     'B': ['one', 'one', 'two', 'two', 'one'],
                     'C': [1, 2, 3, 4, 5]})

# Group data by column 'A' and compute the sum of column 'C'
grouped_data = data.groupby('A')
grouped_data.sum()

/tmp/ipykernel_77/4190689902.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_data.sum()

     C
A
bar  6
foo  9

In [12]:
#  5. to_csv(): This function is used to write the contents of a DataFrame to a CSV file.
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                     'B': ['a', 'b', 'c', 'd', 'e']})

# Write the DataFrame to a CSV file
data.to_csv('output.csv', index=False)

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
#Answer
#Here's an example of how you can write the Python function:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Series(range(1, len(df) * 2 + 1, 2))
    df = df.reset_index(drop=True)
    df.index = new_index
    return df

In [2]:
#Use this function as follows:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
new_df = reindex_dataframe(df)
print(new_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
* For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [3]:
#Answer.
#Here's an example of how you can write the Python function:
import pandas as pd

def calculate_sum(df):
    first_three_sum = df['Values'].head(3).sum()
    print("Sum of the first three values:", first_three_sum)

In [4]:
#Use this function as follows:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_sum(df)

Sum of the first three values: 60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
#Answer.
#Here's an example of how you can write the Python function:
import pandas as pd

def calculate_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

In [6]:
#Use this function as follows:
df = pd.DataFrame({'Text': ['Hello, world!', 'This is a sentence.', 'Python is awesome.']})
new_df = calculate_word_count(df)
print(new_df)

                  Text  Word_Count
0        Hello, world!           2
1  This is a sentence.           4
2   Python is awesome.           3

### Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
Answer.
The DataFrame.size and DataFrame.shape are both attributes in Pandas that provide information about the dimensions of a DataFrame, but they differ in the information they provide.

DataFrame.size:
    1. DataFrame.size returns the total number of elements in the DataFrame, which is calculated as the product of the number of rows and the number of columns.
    
    2. The returned value represents the total number of cells in the DataFrame, including both populated cells and potential missing or NaN values.
    
    3. The size attribute does not provide information about the structure or layout of the DataFrame.
    
    
DataFrame.shape:
    1. DataFrame.shape returns a tuple representing the dimensions of the DataFrame, i.e., the number of rows and the number of columns.
    
    2. The returned value is in the format (rows, columns).
    
    3. This attribute provides information about the structure and layout of the DataFrame, indicating how many rows and columns it contains.
    
    4. The shape attribute does not include any information about the data within the DataFrame, such as the content of specific cells.

### Q6. Which function of pandas do we use to read an excel file?

In [9]:
Answer.
Here's an example of how you can use the read_excel() function:

import pandas as pd
df = pd.read_excel('filename.xlsx')

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains emailaddresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
* The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [10]:
#Answer.
# Here's an example of how you can write the Python function:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

In [11]:
#Use this function as follows:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})
new_df = extract_username(df)
print(new_df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
* For example, if df contains the following values:
`A B C`
`0 3 5 1`
`1 8 2 7`
`2 6 9 4`
`3 2 3 5`
`4 9 1 2`
* Your function should select the following rows: A B C
`1 8 2 7`
`4 9 1 2`
* The function should return a new DataFrame that contains only the selected rows.

In [12]:
#Answer.
# Here's an example of how you can write the Python function:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

In [13]:
#Use this function as follows:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [14]:
#Answer.
#Here's an example of how you can write the Python function:
import pandas as pd
import numpy as np

def calculate_stats(df):
    values = df['Values']
    mean_value = np.mean(values)
    median_value = np.median(values)
    std_value = np.std(values)
    
    return mean_value, median_value, std_value

In [16]:
#Use this function as follows:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
mean, median, std = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 14.142135623730951

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [17]:
#Answer
#Here's an example of how you can write the Python function:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [18]:
#Use this function as follows:
df = pd.DataFrame({'Date': pd.date_range(start='1/1/2023', periods=10), 'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]})
new_df = calculate_moving_average(df)
print(new_df)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     20           15.0
2 2023-01-03     30           20.0
3 2023-01-04     40           25.0
4 2023-01-05     50           30.0
5 2023-01-06     60           35.0
6 2023-01-07     70           40.0
7 2023-01-08     80           50.0
8 2023-01-09     90           60.0
9 2023-01-10    100           70.0

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
* For example, if df contains the following values:
* Date
`0 2023-01-01`
`1 2023-01-02`
`2 2023-01-03`
`3 2023-01-04`
`4 2023-01-05`
* Your function should create the following DataFrame:

* Date Weekday
`0 2023-01-01 Sunday`
`1 2023-01-02 Monday`
`2 2023-01-03 Tuesday`
`3 2023-01-04 Wednesday`
`4 2023-01-05 Thursday`
* The function should return the modified DataFrame.

In [22]:
#Answer.
# Here's an example of how you can write the Python function:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.weekday_name
    return df

In [27]:
Use this function as follows:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', periods=5)})
modified_df = add_weekday_column(df)
print(modified_df)

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [24]:
#Answer.
#Here's an example of how you can write the Python function:
import pandas as pd

def select_rows_between_dates(df):
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

In [26]:
#Use this function as follows:
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-02-28')})
selected_df = select_rows_between_dates(df)
print(selected_df)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [ ]:
Answer.
The first and foremost necessary library that needs to be imported to use the basic functions of pandas is the pandas library itself. You can import it using the following statement:
    
    import pandas as pd